
.particles{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(148deg, rgba(60,176,224,1) 36%, rgba(17,62,98,1) 63%, rgba(29,0,0,1) 100%);
}